In [19]:
for i in "Harshraj":
    print(i,'?')

H ?
a ?
r ?
s ?
h ?
r ?
a ?
j ?

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(10,15):
    print(i)

10
11
12
13
14

In [9]:
### Write a program to print the first 10 natural numbers.

print("First 10 natural numbers are:")
for i in range(1,11):
    print(i)

First 10 natural numbers are:
1
2
3
4
5
6
7
8
9
10

In [11]:
### Write a program to print the first 10 even numbers.

s=0
print("First 10 even numbers are:")
for i in range(1,100):
    if i%2==0:
        print(i)
        s+=1
        if s>=10:
            break
  ##or see in next cell

First 10 even numbers are:
2
4
6
8
10
12
14
16
18
20

In [12]:
### Write a program to print the first 10 even numbers.

for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
### Write a program to print the first 10 odd numbers.
print("First 10 odd numbers are:")
for i in range(1,20,2):
    print(i)

First 10 odd numbers are:
1
3
5
7
9
11
13
15
17
19

In [15]:
### Write a program to print the first 10 even numbers in reverse order.

print("First 10 even numbers in reverse order are:")
for i in range(20,1,-2):
    print(i)

First 10 even numbers in reverse order are:
20
18
16
14
12
10
8
6
4
2

In [18]:
### Write a pyhton program to print table of the number given by user.

a=int(input("Enter a number for the table:"))
for i in range(1,11):
    print(a*i)

Enter a number for the table:6
6
12
18
24
30
36
42
48
54
60

In [23]:
### Write a program to find the factorial of the number.

a=int(input("Enter a number for the table:"))
s=1
for i in range(a,0,-1):
    s=s*i
print("Factorial of",a , "is",s)

Enter a number for the table:5
Factorial of 5 is 120

In [29]:
### Write a program to print the following pattern:
# 1
# 1 2
# 1 2 3
# 1 2 3 4

for i in range(1,6):
    for j in range(1,i):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [40]:
### Write a program to print the following pattern:
# * * * *
# * * *
# * *
# *

for i in range(1,5):
    for j in range(5,i,-1):
        print("*",end=' ')
    print()

* * * *
* * *
* *
*

In [41]:
### Accept 10 numbers from user and display their average.

s=0
for i in range(10):
    n=int(input("Enter a number:"))
    s= s+n
print("The average of the numbers are",s/10)

Enter a number:89
Enter a number:64
Enter a number:8
Enter a number:95
Enter a number:29
Enter a number:5
Enter a number:96
Enter a number:69
Enter a number:18
Enter a number:14
The average of the numbers are 48.7

In [1]:
### Write a program to print sum of odd numbers and even numbers betweem 12 and 37(including both).

s=0
p=0
for i in range(12,38,2):
    s=s+i
for i in range(13,38,2):
    p=p+i

print("Sum of even no is:",s,"\nSum of odd number is:",p)

Sum of even no is: 312
Sum of odd number is: 325

In [3]:
## Write a program to display the numbers divisible by 11 but not by 2 between 100 to 500.

print("The numbers that are divisible by 11 but not 2 :")
for i in range(100,500):
    if i%11==0:
        if i%2==0:
            continue
        else:
            print(i, end=' ')

The numbers that are divisible by 11 but not 2 :
121 143 165 187 209 231 253 275 297 319 341 363 385 407 429 451 473 495

In [4]:
## write a program to print 1 to 20 except multiples of 2 & 3.

print("The numbers except multiples of 2 & 3:")
for i in range(1,20):
    if i%2==0:
        continue
    elif i%3==0:
        continue
    else :
        print(i)

The numbers except multiples of 2 & 3:
1
5
7
11
13
17
19

In [19]:
###  write a program to convert decimal no. into binary no.

a= int(input("Enter a number:"))

l=[]
while a:
        r=(a%2)
        l.append(r)
        a=a//2
        
print("binary of no. is:",end=" ")        
for i in range(len(l)-1,-1,-1):
    print(l[i],end="")

Enter a number:112
binary of no. is: 1110000

In [17]:
### Write a program to print Following pattern
# A
# B C
# D E F
# G H I J

l=65
for i in range(0,5):
    for j in range(0,i):
        print(chr(l),end=" ")
        l+=1
    print()

A
B C
D E F
G H I J